.row
  .col-lg-7
    .row
      .col-lg-12
        %p
          %strong Details:
          .well.details-well.well-light
            = @project.details
    .row
      .col-lg-12
        %p
          %strong Clients:
          .well.well-sm.well-light
            - if @project.users.client.empty?
              = '-'
            -else
              - @project.users.client.each.each_with_index do |client, index|
                %span.link>
                  = link_to client.email, user_path(id: client.id), class: 'link-red'
                  - unless index == @project.users.client.size - 1
                    |
    .row
      .col-lg-12
        %p
          %strong Account managers:
          .well.well-sm.well-light
            - if @project.users.account_manager.empty?
              = '-'
            -else
              - @project.users.account_manager.each_with_index do |account_manager, index|
                %span.link>
                  = link_to account_manager.email, user_path(id: account_manager.id), class: 'link-red'
                  - unless index == @project.users.account_manager.size - 1
                    |
    .row
      .col-lg-12
        %p
          %strong Graphic designers:
          .well.well-sm.well-light
            - if @project.users.graphic_designer.empty?
              = '-'
            -else
              - @project.users.graphic_designer.each_with_index do |graphic_designer, index|
                %span.link>
                  = link_to graphic_designer.email, user_path(id: graphic_designer.id), class: 'link-red'
                  - unless index == @project.users.graphic_designer.size - 1
                    |
    .row
      .col-lg-12
        %p
          %strong Copywriters:
          .well.well-sm.well-light
            - if @project.users.copywriter.empty?
              = '-'
            -else
              - @project.users.copywriter.each_with_index  do |copywriter, index|
                %span.link>
                  = link_to copywriter.email, user_path(id: copywriter.id), class: 'link-red'
                  - unless index == @project.users.copywriter.size - 1
                    |
  .col-lg-5
    .row
      .col-lg-4
        %p
          %strong Start date:
          .well.well-sm.well-light
            = @project.expected_start_date
      .col-lg-4
        %p
          %strong Completion date:
          .well.well-sm.well-light
            = @project.expected_completion_date
      .col-lg-4
        %p
          %strong Status:
          .well.well-sm.well-light
            = project_status(@project)
    .row
      .col-lg-4
        %p
          %strong Tasks:
          .well.well-sm.well-light
            = @project.tasks.count
      .col-lg-4
        %p
          %strong Completed tasks:
          .well.well-sm.well-light
            = @project.tasks.published.count
      .col-lg-4
        %p
          %strong Progress:
          .progress.project-progress
            .progress-bar.progress-bar-danger.progress-bar-striped.project-progress-bar.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "70", :role => "progressbar", :style => "width:#{completed_tasks_percentage(@project)}"}
              = completed_tasks_percentage(@project)
    - if policy(@project).can_manage_projects?
      .row
        .col-lg-12
          %strong Actions:
      .row.mt-10
        .col-lg-4
          = link_to 'Edit Project Users', users_tenant_project_path(tenant_id: @project.tenant_id, id: @project.id), :class => 'btn btn-default btn-project-overview'
        .col-lg-4
          = link_to 'Edit Project', edit_tenant_project_path(@project, tenant_id: @tenant.id), :class => 'btn btn-default btn-project-overview'
        .col-lg-4
          = link_to 'Delete Project', tenant_project_path(@project, tenant_id: @tenant.id), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-project-overview'


