.row
  .col-lg-12.sign_up_alert
    = bootstrap_devise_error_messages!
.container.first-page
  .row
    .col-lg-6.sign-up-box
      .mb-20.text-center
        %h2.title-bold Coord
        %p.lead Join us!
      .panel.panel-default.sign-up-panel
        .panel-body
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f|
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: 'form-control'
            .form-group
              = f.label :password
              = f.password_field :password, class: 'form-control'
            .form-group
              = f.label :password_confirmation
              = f.password_field :password_confirmation, class: 'form-control'
            = fields_for( :tenant ) do |w|
              .form-group
                = w.label :name, 'Organization'
                %span.description (Unique name for your group or organization for the new account)
                = w.text_field :name, required: true, class: "form-control"
              .form-group
                = w.label :plan
                = w.select :plan, options_for_select(Plan.options, params[:plan]),{}, required: true, class: "form-control"
            .text-center
              = f.submit t('.sign_up', default: 'SIGN UP'), class: 'btn btn-danger btn-lg sign-up-button'
      .row.text-center
        = render 'devise/shared/links'