.comment-form.mb-50
  = form_for([@tenant, @project, @project.comments.build], remote: true) do |f|
    .form-group
      - if is_client_com 
        = f.label :content, "Message content:"
      - else
        = f.label :content, "Comment content:"
      = f.text_area :content, class: 'form-control', required: true
    = f.hidden_field :tenant_id, value: params[:tenant_id], class: 'form-control'
    = f.hidden_field :user_id, value: current_user.id, class: 'form-control'
    = f.hidden_field :project_id, value: @project.id, class: 'form-control'
    = f.hidden_field :client_comm, value: is_client_com, class: 'form-control'
    .text-center
      - if is_client_com
        = f.submit 'Send message', disable_with: "Sending…", class: 'btn btn-danger mt-30'
      - else
        = f.submit 'Add comment', disable_with: "Adding…", class: 'btn btn-danger mt-30'
