.row
  .col-lg-12.no-session_alert
    = bootstrap_devise_error_messages!
.container.no-session-page
  .row
    .col-lg-6.no-session-box
      .mb-20.text-center
        %h2.title-bold Coord
        %p.lead Forgot your password?
      .panel.panel-default.no-session-panel
        .panel-body
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f|
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: 'form-control'
            .text-center
              = f.submit t('.send_me_reset_password_instructions', default: 'SEND ME RESET PASSWORD INSTRUCTIONS'), class: 'btn btn-danger btn-lg mt-10'
      .row.text-center
        = render 'devise/shared/links'
