- if current_user
  = bootstrap_flash
  = render 'projects/list'
- else
  .row
    .col-lg-12.no-session_alert
      = bootstrap_flash
  .container.no-session-page
    .row
      .col-lg-6.first-page-box
        .mb-50.text-center
          %h2.title-bold Coord
          %p.font-size-19
            Welcome to an e-commerce marketing project management application you'll love.
            Please take a look at our great plans:
        .row
          .col-lg-6
            .panel.panel-default.chose-plan-panel
              .panel-body
                %h2.extra-bold FREE PLAN
                %p.extra-bold Price: Free
                .features
                  %ul.pl-0
                    %li Unlimited file uploads
                    %li Access anywhere
                    %li 1 project
                %p
                  = link_to 'SIGN UP', new_user_registration_path(plan: 'free'), class: 'btn btn-danger btn-lg mt-10'
          .col-lg-6
            .panel.panel-default.chose-plan-panel
              .panel-body
                %h2.extra-bold PREMIUM PLAN
                %p.extra-bold Price: $10
                .features
                  %ul.pl-0
                    %li Unlimited file uploads
                    %li Access anywhere
                    %li.text-danger.extra-bold Unlimited projects
                %p
                  = link_to 'SIGN UP', new_user_registration_path(plan: 'premium'), class: 'btn btn-danger btn-lg mt-10'
        .row.text-center.mt-30
          = link_to t('.or_SIGN_IN', default: 'or click here to LOG IN'), new_session_path(:user), class: 'link-white'
