= form_for [@tenant, @project], html: { class: "form form-horizontal project" } do |f|
  .form-group
    = f.label :title, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :title, class: 'form-control', required: true
  .form-group
    = f.label :details, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :details, class: 'form-control', required: true
  .form-group
    = f.label :expected_start_date, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :expected_start_date, class: 'form-control datepicker', required: true
  .form-group
    = f.label :expected_completion_date, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :expected_completion_date, class: 'form-control datepicker', required: true
  = f.hidden_field :tenant_id, value: params[:tenant_id], class: 'form-control'
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-default'
