.panel.panel-default.signed-in-panel-default
  .panel-heading.default-panel-heading
    %h2 
      %strong PROJECT: 
      = @project.title
  .panel-body.pt-30
    %ul.nav.nav-tabs.projects-menu-nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#overview", class: 'red-link'} Overview
      %li
        %a{"data-toggle" => "tab", :href => "#client_communication"} Client communication
      %li
        %a{"data-toggle" => "tab", :href => "#comments"} Comments
      %li
        %a{"data-toggle" => "tab", :href => "#tasks"} Tasks
      %li
        %a{"data-toggle" => "tab", :href => "#attachments"} Attachments
    .tab-content.mt-50
      #overview.tab-pane.fade.in.active
        = render 'projects/overview'
      #client_communication.tab-pane.fade
        = render 'projects/client_communication'
      #comments.tab-pane.fade

      #tasks.tab-pane.fade

      #attachments.tab-pane.fade
        = render 'artifacts/list', artifacts: @project.artifacts
.text-center.mt-30                       
  = link_to 'Back', root_path, :class => 'link-red'

