.panel.panel-default.signed-in-panel-default
  .panel-heading.default-panel-heading
    %h2 
      %strong PROJECT: 
      = @project.title
  .panel-body.pt-30
    %ul.nav.nav-tabs.projects-menu-nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#overview", class: 'red-link'} Overview
      %li
        %a{"data-toggle" => "tab", :href => "#client_communication"} 
          Client communication
          %span.badge#client-comm-count
            = @client_comm.count
      - unless current_user.is_client?
        %li
          %a{"data-toggle" => "tab", :href => "#comments"} 
            Comments
            %span.badge#project-comm-count
              = @project_comm.count
      %li
        %a{"data-toggle" => "tab", :href => "#tasks"} 
          Tasks
          %span.badge#tasks-count
            = @project.tasks.count
      %li
        %a{"data-toggle" => "tab", :href => "#attachments"} 
          Attachments
          %span.badge#artifacts-count
            = @artifacts.count
    .tab-content.mt-50
      #overview.tab-pane.fade.in.active
        = render 'projects/tabs/overview'
      #client_communication.tab-pane.fade
        = render 'projects/tabs/comments', comments: @client_comm, is_client_com: true
      #comments.tab-pane.fade
        = render 'projects/tabs/comments', comments: @project_comm, is_client_com: false
      #tasks.tab-pane.fade
        = render 'projects/tabs/tasks', tasks: @project.tasks
      #attachments.tab-pane.fade
        = render 'artifacts/list', artifacts: @artifacts, task_id: ""
.text-center.mt-30                       
  = link_to 'Back', root_path, :class => 'link-red'

