!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %script{:src => "/assets/jquery.js", :type => "text/javascript"}
    %script{:src => "/assets/jquery_ujs.js", :type => "text/javascript"}
    %title= content_for?(:title) ? yield(:title) : "Coord - manage your project"

    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    %link{:href => "https://fonts.googleapis.com/css?family=Merriweather+Sans:300,800", :rel => "stylesheet"}/
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"


  %body
    - if current_user
      .container.over-nav
      .navbar.navbar-inverse
        .container-fluid
          .navbar-header
            .navbar-brand
              = link_to('Coord', root_path, title: 'Coord', class: 'root-link')
          .nav.navbar-nav
            .navbar-organization
              #{@tenant.name}
          .navbar-right
            %ul.nav.navbar-nav         
              %li.dropdown
                %a.menu-dropdown.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %span.glyphicon.glyphicon-align-justify
                %ul.dropdown-menu
                  %li= link_to('ADD MEMBERS', new_member_path, title: 'ADD MEMBERS')
                  %li= link_to('EDIT PROFILE', edit_user_registration_path, title: 'EDIT PROFILE')
                  %li= link_to('LOGOUT', destroy_user_session_path, title: 'LOGOUT', :method => :delete)         
      .container.app-body
        .row
          .col-lg-12
            = bootstrap_flash
            = yield
    - else
      = yield