- unless @member.errors.empty? && @user.errors.empty?
  .alert.fade.in.alert-danger
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %p Member can not be added:
    %ul
      = @member.errors.full_messages.uniq.inject(''){|str, msg| str << "<li> #{msg}"}.html_safe
      = @user.errors.full_messages.uniq.inject(''){|str, msg| str << "<li> #{msg}"}.html_safe
.panel.panel-default.signed-in-panel-default
  .panel-heading.default-panel-heading
    %h2 INVITE A NEW MEMBER
  .panel-body.pt-30
    = form_for(@member) do |f|
      = fields_for( :user ) do |w|
        .form-group
          = w.label :email
          %i (must be unique)
          = w.text_field :email, autofocus: true, class: 'form-control'
        .form-group
          = f.label :first_name
          = f.text_field :first_name, class: 'form-control'
        .form-group
          = f.label :last_name
          = f.text_field :last_name, class: 'form-control'
        .text-center
          %button.btn.btn-lg.btn-danger.mt-10.button{ :type => "submit" }
            Create user

